body { background: #f2f2f2;}

.cardWrap
{
  width: 100%;
  overflow:hidden;
  margin-top:-20px;
}
.card
{
  margin:0 auto;
  overflow:hidden;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  margin-top:10px;
  margin-bottom:10px;
  width: 90%;
  /*border-bottom: 1px solid #f2f2f2;*/

  transition: height 0.3s;
}

.card:not(.open){
  height: 80px;
}

.open
{
  height: auto;
}

/*
.card:hover
{
  height: 500px;    /* Expands to this height
}
*/

.long:hover { height:600px; }

.static-card:hover  /* Removes the card height transition when clicked */
{
  height: 80px;
}

/*      CARD CONTENT STYLES     */

/*    Name of Card    */
.card h1
{
  /*float:left;*/
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin:10px;
  margin-top:10px;
  margin-left:0px;
  padding:10px;
  width: 250px;
}


/*    Location of Service   */
.card h1 b
{
  font-weight: normal;
  font-size: 13px;
  color: #bfbfbf;
}

/*    Card Description    */
.card p
{
  float:left;
  margin-top: 15px;
  margin-left: 5px;
  padding:10px;
  font-family: 'Roboto', sans-serif;
}

/*    Icons   */
.buttonWrap
{

  margin:15px;
  height:35px;
  width:90%;
}
.buttonWrap h1
{
  float: left;
  font-size: 18px;
  margin-right: 30px;
  padding: 0;
  color: #2196F3;
}
.icon
{
  float: left;
  margin:15px;
  margin-right:0px;
  padding: 10px;
  color:#9d9d9d;
}
.card .glyphicon-chevron-down
{
  float:right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 15px;
  color: #d9d9d9;
}
.card .glyphicon-chevron-up
{
  float:right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 15px;
  color: #d9d9d9;
}

/*  WHY DO YOU FEEL THIS WAY   */

/* Add to cards to give a scroll bar when max height overriden */
.title
{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 25px;
}
#popupContent
{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70%;
  width: 100%;
  text-align: center;
}
.option
{
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.option h1
{
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.selected
{
  color: white;
  background: #64B5F6;
  width: 100%;
}

.button
{
  margin-top: 20px;
  margin: 10px;
  width: 90px;
  /*height: 30px; commented out for temp purpose */
  border: 2px solid black;
}
.btLeft {float: left;}
.btRight {float: right;}

.button h1
{
  font-size: 20px;
  text-align: center;
  margin:0;
  padding: 5px;
}
.popup input[type=checkbox]
{
  float:left;
  margin-right:20px;
  width:20px;
  height: 20px;
}

.popup input[type=button], input[type=submit]
{
  margin: 10px;
}

/* POPUP CARDS */
.popup
{
  display: none;
  z-index: 9;
  position: absolute;
  top:20%;
  left: 50%; margin-left: -45%; //center div
  overflow:hidden;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  width: 90%;
  min-height: 35%;
}

.letter
{
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  font-family: 'Roboto', sans-serif;
  color: #BDBDBD;
}
.letter p { margin: 0; }

.btn-cardAction {
  width: 100% !important;
}
