

.info-text {
  padding-left: 5%;
  padding-right: 5%;
}

.info-text h3 {
  padding: 6pt 0pt 6pt 0pt;
  text-align: justify;
}

.dataTitle {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.info-text h4 {
  padding: 12pt 0pt 3pt 0pt;
  font-size: 1em;
  text-align: justify;
  font-weight: bold;
}

.info-text p {
  font-size: 1em;
  text-align: justify;
}

.mainContacts {
  padding-top: 1em;
  font-size: 1em;
  text-align: justify;
  display: inline-block;
}

.mainContacts h5 {
  font-weight: bold;
  font-size: 1em;
}

.additionalContacts h5 {
  font-weight: bold;
  font-size: 1em;
}

.additionalContacts {
  padding-top: 1.5em;
  font-size: 1em;
  text-align: center;
}

.contactM {
  padding-top: 1em;
  text-align: center;
}

.contactM h5 {
  font-weight: bold;
}

.contactM p {
  text-align: center;
}

.contactL {
  float: left;
  padding-right: 12pt;
  padding-left: 12pt;
  text-align: center;
}

.contactR {
  float: right;
  padding-right: 12pt;
  padding-left: 12pt;
  text-align: center;
}

@media (max-width: 767px) {
    .contactL {
        width: 100%;
    }
    .contactR {
        width: 100%;
        padding-top: 1em;
    }
}

.btn-dataInfo {

  width: auto !important;

}

.form-group {
  padding: 1em 0;
  text-align: left;
}

.form-group-consent {
  display: none;
  padding: 1em 0;
  text-align: left;
}

.form-group button, .form-group-consent button {
  width: 100%;
}

.emailError {
  font-size: 0.8em;
  color: #FF0000;
  display: none;
}

#validationMsg-gender, #validationMsg-age, #validationMsg-ethnicity, #validationMsg-institution, #validationMsg-startYear, #validationMsg-faculty, #validationMsg-uniYear, #validationMsg-homeInt, #validationMsg-disability {

  color: #FF0000;

}
