body{
  min-height: 100%;
}

#emojie-drop{
  /*position: relative;*/
  margin:0 auto;
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

/*
#emojie-drop p{
  font-size: 140%;
  padding: 8px;
  margin-left: 5px;
}
*/

#emojiWrap
{
  padding-top: 3%;
  width: 100%;
  height: 80%;
}

span{
  font-size: 1em;
}



.row-show-grid .col-xs-4{
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  height: 95px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  width:calc(33.33% - 8px);
  padding-top:calc(33.33% - 8px); /* 1:1 Aspect Ratio */
  position: relative; /* Text to be inside of the div */
}
.row-show-grid .col-xs-4 p{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*Keeps the text inside of the div*/
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  padding-top: 28px;
}

.btn{
  width: 27%;
}

#buttonTwo{
  font-size: 6px;
  margin-bottom: 6px;
}

.col-xs-4 p span{
  padding-left: 5%;
  font-size: 180%;
}

.emojiRow .col-xs-4{
  poition: relative;
  height: 75px;
}

.pic{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0 auto;
    transform: translate(-50%, -50%)
}

.container{
  width: 100%;
  padding: 0 4% 4% 4%;
  margin-top: 2.5%;
  text-align: center;
}

.glyphicon-menu-hamburger{
  color: white;
  font-size: 200%;
}

#crisis{
  background: white;
  color: #f45342;
}

#k-plan{
  background: darkgrey;
}

#emojie-drop #main-p{
  margin-bottom: 1%;
  text-align: center;
  font-size: 1.4em;
  padding: 0.5%;
  border-bottom: solid black 1px
}

.emojiRow
{
  margin: 0 auto;
  width: 100%;
}

.emojiName
{
  position: relative;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #333333;
}

.emojiItem{


}

#selected {
  padding-left: 2.5%;
}

::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 0; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #1E88E5;
}

/* Temporary class to avoid editing bootstrap css */
.centre{
  display:inline-block;
}

.glyphicon{
  line-height: unset;
}

button {
  height: 80%;
  margin: 3px;
}

@media screen and (min-width: 600px) {
  .container{
    width: 96%;
  }
  .row-show-grid .col-xs-4 p{
    font-size: 2em;
  }

  .emojiRow .col-xs-4{
    height: 122px;
  }

  .emojiName{
    font-size: 1.5em;
  }

  #emojie-drop #main-p{
    text-align: center;
    font-size: 2.2em;
    padding: 5px;
    border-bottom: solid black 1px
  }

}

@media screen and (min-width: 1000px) {
  .container{
    width: 94%;
  }

  .row-show-grid .col-xs-4 p{
    font-size: 3em;
  }

  .emojiRow .col-xs-4{
    height: 182px;
  }

  .emojiName{
    font-size: 2.5em;
  }

  #emojie-drop #main-p{
    text-align: center;
    font-size: 3.5em;
    padding: 5px;
    border-bottom: solid black 1px
  }

  .row-show-grid .col-xs-4{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    width: calc(33.33% - 16px);
  }
}
