#pageMap
{
  height: 610px;
  margin-top: -40px;
}

.map
{
  padding: 20px;
  margin-top: 20px;
}

#union
{
  position: fixed;
  top: 10%;
  left: 2%;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  background: #fff;
  z-index: 9999999999;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  display: none;
  padding: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
