body{
  padding-top: 14vh;
}

.navbar-header{
  float:      none;
  background: #337ab7; /*Google Material UI - Dark Blue*/
  height: 8.8vh;
}

.navbar-left, .navbar-right{
  float:  none !important;
}

/*    HAMBURGER MENU ICON    */
.navbar-toggle{
  display:  block;
  float:    left;
  height: inherit;
  margin: 0;
}

.navbar-toggle .icon-bar{
  width:  26px;
  height: 2px;
}

.navbar-collapse{
  border-top: 1px solid transparent;
  /*background: #E3F2FD;*/    /*Google Material UI - Light Blue*/
  background: #FFF;
}

.navbar-collapse.collapse{
  display: none !important;
}

.collapse.in{
  display: block !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #FAFAFA;
  max-height: 1200px;
  width: 100%;
}
/*    END HAMBURGER MENU ICON    */

.navbar-nav{
  float:      none !important;
  margin-top: 7.5px;

  z-index: 999999;
}

.navbar-nav > li{
  float: none;
}

.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
}

.glyphicon-menu-hamburger{
  color: white;
  font-size: 200%;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
  color: black;
}

.navbar-inverse .navbar-nav>li>a{
  text-align: left;
}

/*    DROPDOWN LIST ITEMS    */
.nav > li > a
{
  font-family: 'Roboto Slab', serif;
  font-size:    18px;
}

.navbar-fixed-top{
  top:0;
  border-width: 0 0 1px;
}

.navbar-inverse
{
  background-color: #E3F2FD;
  border-color:     #FAFAFA;

}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-toggle{
  border-color: #2196F3;    /*Google Material UI - Dark Blue*/
}

.navbar-inverse .navbar-toggle:hover{
  border-color: #2196F3;
  background:   #2196F3;
}

.navbar-brand{
  font-family: 'Roboto', sans-serif;
}

.glyphicon{
  font-size:    20px;
  margin-right: 2%;
}

@media screen and (min-width: 400px){
  .navbar-toggle .icon-bar{
    width:  36px;
    height: 4px;
    margin: 5px;
  }
  .navbar-toggle{
  }

  .navbar-brand{
    font-size: 25px;
    padding: 23px 0px;
  }
}

@media screen and (min-width: 600px) {
  .navbar-toggle .icon-bar{
    width:  42px;
    height: 5px;
    margin: 10px;
  }
  .navbar-toggle{
  }

  .navbar-brand{
    font-size: 30px;
    padding: 35px 5px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-toggle .icon-bar{
    width:  52px;
    height: 6px;
  }
  .navbar-toggle{
  }

  .navbar-brand{
    font-size: 50px;
    padding: 45px 15px;
  }
}

#filter
{
  /*background: blue;*/
  position: fixed;
  top: 15px;
  right: 10px;
}
#filterDrop
{
  position: fixed;
  overflow: scroll;
  display: none;
  z-index: 9999999;
  top: 8%;
  right: 5px;
  width: 150px;
  height: 500px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}
.glyphicon-filter
{
  font-size: 20px;
  color: #fff;
}
