html{
  height: 100%;
}

body{
  text-align:center;
  background: #f2f2f2;
}

h1{
  text-align: center;
  width: 100%;
  margin-top: 20%;
  /*position: absolute;    <-- not needed */
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
}

#emojiSliderPopup{
  margin: 0 auto;
  width: 100%;
  display: none;
}

output {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  padding: 0;
}

#sliderWrapper{
  margin:0 auto;
  margin-top: 10%;
  width:90%;
  height: 100%;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
  margin: 0 auto;
}

.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}

.rangeslider--vertical {
  width: 7%;
  height: 10%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #76FF03;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  width: 175%;
  padding-top: calc(175%);
  right: -37%;
  position: absolute;
  background-image: url("../img/emojis/happy.png");
  background-size: 100%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 11px;
  height: 12px;
  margin: auto;
  margin-bottom: 10%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

#js-rangeslider-0{
  margin: 0 auto;
}

#navButtons button {
  width: 45%;
}

button:hover {
  background-color: white;
  colour: white;
}
