#snackbar
{
  visibility:hidden;
  position:fixed;
  background: #333;
  width: 350px;
  height: 50px;
  bottom: 1%; left: 50%;
  margin-top: -25px;    /* Set to -HALF of HEIGHT */
  margin-left: -175px;  /* Set to -HALF of WIDTH */
  border-radius: 2px;
  z-index: 1;
}
#snackbar.show
{
  /*
    CHANGE end of both 'endout' lines along with js to perfectly change delay time
  */
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
/*    FADE IN TRANSITION    */
@-webkit-keyframes fadein
{
    from  {bottom: -10px; opacity: 0;}
    to    {bottom: 1%; opacity: 1;}
}
@keyframes fadein
{
    from  {bottom: -10px; opacity: 0;}
    to    {bottom: 1%; opacity: 1;}
}
/*    FADE OUT TRANSITION   */
@-webkit-keyframes fadeout
{
    from  {bottom: 1%; opacity: 1;}
    to    {bottom: 0; opacity: 0;}
}

@keyframes fadeout
{
    from  {bottom: 1%; opacity: 1;}
    to    {bottom: 0; opacity: 0;}
}

.message
{
  float:left;
  margin-top: 5px;
  margin-left: 10px;
  color:#fff;
  font-size: 16px;
  padding: 5px;
}
.link
{
  float:right;
  color:#4CAF50;
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
  margin-right: 20px;
  padding: 0;
}
